tr.puwc-setting td.forminp {
    display: flex !important;
    flex-wrap: wrap;
}

tr.puwc-setting td.forminp label {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    margin-right: 10px;
}

tr.puwc-setting input.puwc_checkbox {
    margin: 12px auto;
}

tr.puwc-setting label strong {
    margin-bottom: 5px;
}

.taxonomy-product_cat tr.puwc-setting {
    height: 95px;
}

.taxonomy-product_cat tr.puwc-setting td.forminp {
    position: absolute;
}

.puwc-field-textbeforeprice,
.puwc-field-textafterprice,
.puwc-field-hidepricetext {
    width: 200px !important;
}

select.puwc-field-showDiscount,
select.puwc-field-fixedpercent,
select.puwc-field-incdec {
    width: 130px !important;
}

.puwc-field-price {
    width: 75px !important;
}

.puwc-form-field:not(.puwc_checkbox) {
    min-height: 40px;
}

.puwc-setting span.select2.select2-container.select2-container--default {
    min-width: 200px !important;
}